* {
    margin: 0;
    padding: 0;
}


body {
    background: #rgb;
    padding: 20px;
}


header {
    max-width: 1000px;
    min-height: 130px;
    margin: 0 auto;
    background: #000;
    border-radius: 20px 20px 0 0;
}


#logo {
    width: 320px;
    height: 10px;
    margin-top: 10px;
    margin-left: 20px;
    animation: 1s entradalogo 1;
    float: left;

}
#logo img{
    width: 106px;
    margin-top: 12px;
}
#menu-horizontal {
    max-width: 1000px;
    min-height: 50px;
    background: #e4e2e2;
    margin: 0 auto;
}

#menu-horizontal ul {
    list-style: none;
    display: flex;
    justify-content: center;
}


#menu-horizontal a {
    color: #161414;
    display: block;
    padding: 20px;
    text-decoration: none;
    background: #e4e2e2;
    font-family: Arial;
    font-size: 18px;
}

#menu-horizontal a:hover {
    background: #069;
}

#menu-horizontal ul ul {
    display: none;
    position: absolute;
}

#menu-horizontal ul li:hover ul {
    display: block;
}

#banner {
    max-width: 1000px;
    min-height: 250px;
    background: #e4d7d7;
    margin: 0 auto;
}
#banner img{
    max-width: 1000px;
    min-height: 300px;
}

#contenedor {
    max-width: 1000px;
    min-height: 700px;
    background: #fff;
    margin: 0 auto;
}

#menu-vertical {
    width: 300px;
    min-height: 700px;
    background: #ccc;
    float: left;
}
#menu-vertical img {
width: 15px;
height: 20px;
margin-top: 3px;
margin-left: 3px;
}
#menu-vertical ul {
    list-style: none;
    padding: 10px;
}

#menu-vertical a {
    display: block;
    color: #fff;
    background: #7f3b07;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 8px;
    border-radius: 5px;
    font-family: arial;
    font-size: 18px;
}

#menu-vertical a:hover {
    background:rgb;
}

#menu-vertical a:hover img {
    animation: 1s rotacion 1;
}
#contenido {
    width: 700px;
    min-height: 700px;
    background:#b0adad;
    float: right;
    padding: 15px;
    box-sizing: border-box;
}

#contenido h2 {
    text-align: center;
    margin-bottom: 30px;
}

#contenido p {
    margin-bottom: 10px;
    font-family: arial;
    font-size: 18px;
    text-align: justify;
}

.img-izq {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 250px;
    border: 1px solid #f67777;
    padding: 5px;
}

footer {
    max-width: 1000px;
    background: #e4e2e2;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    color: #161414;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 18px;

}

@keyframes entradalogo {
    0% {
        transform: translateX(200px);
    }
}

@keyframes rotacion {
    0% {
        transform: rotate(270deg);
    }
}
